body {
    background: #020617;
    color: white;
    font-family: Arial;
    margin: 0;
    padding: 40px;
}

nav {
    margin-bottom: 40px;
}

nav a {
    text-decoration: none;
    color: white;
    background: #1e293b;
    padding: 12px 20px;
    border-radius: 12px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

h1 {
    margin-bottom: 50px;
    font-size: 3rem;
}

.semester-box {
    margin-bottom: 40px;
}

label {
    display: block;
    margin-bottom: 12px;
    color: #cbd5e1;
    font-size: 1.1rem;
}

select {
    width: 100%;
    padding: 18px;
    border-radius: 15px;
    border: none;
    background: #1e293b;
    color: white;
    font-size: 1rem;
}

.subjects-grid {
    display: grid;

    grid-template-columns:
        repeat(auto-fit, minmax(300px, 1fr));

    gap: 25px;

    margin-top: 40px;
}

.subject-card {
    background: #111827;
    padding: 30px;
    border-radius: 25px;

    text-decoration: none;
    color: white;

    transition: 0.3s;

    position: relative;

    border: 1px solid #1e293b;
}

.subject-card:hover {
    transform: translateY(-5px);
    background: #1e293b;
}

.subject-card h2 {
    margin: 0;
    margin-bottom: 15px;
    font-size: 1.7rem;
    color: white;
}

.subject-card p {
    color: #cbd5e1;
    margin-bottom: 20px;
}

.check {
    color: #22c55e;
    font-weight: bold;
    font-size: 1rem;
}

#resetAllBtn {

    margin-bottom: 25px;

    padding: 12px 18px;

    border: none;

    border-radius: 12px;

    background: #ef4444;

    color: white;

    cursor: pointer;

    font-size: 1rem;
}